//header
.sticky-top{
	background: white;
	@include breakpoint(xs){
		position: initial;
	}
}
.topHeaderContainer{
	position: relative;
	.topHeader{
		padding:0;
		background:white;
		position: absolute;
		z-index: 1;
		right: 7px;
		@include breakpoint(md){
			right: 0;
			margin-bottom:0;
			ul{
				margin-bottom:0;
			}
		}
		a{
			font-family: $headingText;
			font-size: 12px;
			color:$blue;
			
		}
	}
}

.navbar{
	.container{
		@include breakpoint(md){
			padding:0;
		}
	}
	line-height:0;
	padding:0;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
	padding-top:13px;
	.navbar-brand{
		padding-bottom:14px;
	}
	@include breakpoint(md){
		background:white;
	}
	@include breakpoint(m){
		padding-left:10px;
		padding-right:10px;
	}
}

.navbar-toggler{
	border:0;
}

#menu-main{
	li{
		a{
			font-size:14px;
			color:$blue;
			&:after{
				display: none;
			}
			@include breakpoint(xs){
				padding:20px 10px;
			}
		}
		.dropdown-menu{
			a{
				padding:20px;
				font-size: 13px;
			}
		}
	}
}