.contactMobileButton{
	@include breakpoint(md){
		display: none;
	}
	width: 100%;
	position: fixed;
	bottom:0;
	z-index: 2000;
	padding: 20px;
}
.unitHero{
	@extend .heroHome;
	background:url('img/unit.jpg');
	background-size:cover;
	.opacityBg{
		background:rgba(255,255,255,0.8);
		color:$blue;
		padding:20px 0;
		position:absolute;
		bottom:0;
		width: 100%;
		a{
			color: $blue;
		}
		p{
			margin-bottom: 5px;
		}
	}
	.container{
		.col-4{
			position:relative;
		}
	}
}

.contactForm{
	@include breakpoint(md){
		position: -webkit-sticky;
		position: sticky;
		top: 111px;
	}
	.listing-form-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.listing-form-agent-picture{
			width: 25%;
			@include breakpoint(md){
				width: 30%;
			}
			img{
				height: 100%;
				width: 100%;
			}
		}
		.listing-form-agent-details{
			width: 73%;
			@include breakpoint(md){
				width: 55%;
			}
		}
	}
	p{
		margin-bottom: 0;
		font-size: 14px;
	}
	a{
		color: $blue;
		font-size: 14px;
	}
	#gform_wrapper_1,
	#gform_wrapper_2,
	#gform_wrapper_3,
	#gform_wrapper_4{
		margin-bottom: 0;
		ul{
			> li{
				padding-right:0;
			}
		}
		label{
			display: none;
		}

		input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]){
			font-size: 14px;
			width: 100%;
			padding:12px;
			@extend .form-control;
		}

		textarea{
			font-size: 14px;
		}

		.gform_button{
			width: 100%;
		}
	}

}

.contactFormMobile{
	@extend .contactForm;
	position:initial;
	display:none;
	@media (max-width:768px){
		display: block;
	}
}

.unitDetails{
	@include breakpoint(md){
		padding:50px 0;
	}
	.property-nav{
		position: -webkit-sticky;
		position: sticky;
		top: 111px;
		@include breakpoint(xs){
			display: none;
		}
		h5{
			border-bottom:1px solid $blue;
			padding-bottom: 9px;
		}
		li{
			a{
				padding-left: 0;
			}
		}
	}
	.saleBenefits{
		.taxes{
			font-weight: bold;
		}
	}
	.mainInfo{
		table{
			@include breakpoint(xs){
				font-size: 13px;
			}
		}
	}
	.item{
		img{
			height: auto;
		}
	}
}

.unitMap{
	color:$blue;
	.map{
		height: 500px;
		background:darken($blue,20%);
	}	
}

.unitAgent{
	.listing-form-header{
		// display: flex;
		// align-items: center;
		.listing-form-agent-picture{
			@include breakpoint(md){
				width: 25%;
			}
			img{
				height: 100%;
				width: 100%;
			}
			display: none;
		}
		.listing-form-agent-details{
			@include breakpoint(md){
				width: 55%;
				// margin-left: 20px;
			}
			p{display: none;}
			a{display: none;}
		}
	}
}

.unitCommunity{
	.row{
		&:nth-child(2){
			@include breakpoint(md){
				align-items: center;
			}
		}
	}
	#videoModal{
		.modal-dialog{
			max-width: 900px;
		}
	}
	.unitCommunityVideoContainer{
		position: relative;
		.unitCommunityVideo{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 70px;
			width: 70px;
			color:white;
		}
	}
}


//Property page

.listing-top-bar{
	background-color: whitesmoke;
	margin-bottom: 50px;
	padding:30px 0;
	.listing-info-container{
		@include breakpoint(md){
			justify-content: space-between;
			align-items: flex-start;
		}
		@include breakpoint(xs){
			flex-direction: column;
		}
		.listing-title{
			@include breakpoint(xs){
				margin-bottom:20px
			}
			@include breakpoint(md){
				width:20%;
			}
			h1{
				font-size: 1.5rem;
				color:$blue;
			}
			.listing-location{
				color:$blue;
				a{
					color: inherit;
				}
			}
		}
		.listing-details{
			@include breakpoint(md){
				justify-content: space-between;
				align-items: flex-start;
			}
			@include breakpoint(xs){
				flex-direction: column;
				margin-bottom:20px
			}
			@include breakpoint(md){
				width:50%;
			}
			span{
				display: block;
			}
		
			.listing-specs{
				display: flex;
				
					justify-content: space-between;
					align-items: flex-start;
				
				@include breakpoint(xs){
					width: 100%;
					margin-bottom:20px;
					margin-top: 20px;
				}
				@include breakpoint(md){
					width:70%;
				}
				> div{
					span{
						display: block;
					}
				}
			}
		}
		.listing-tags{
			@include breakpoint(md){
				width:20%;
				text-align: right;
			}
			a{
				background-color: $blue;
				font-weight: normal;
				font-size:12px;
			}
		}
	}
}

.listing-hero{
	img.listing-image{
		margin-bottom:20px;
	}
}

.unit-carousel{
	.carousel-indicators{
		margin: 1px 0 0;
    	width: 100%;
		justify-content: space-around;
		position: initial;
		overflow-x: auto;
		overflow-y: hidden;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
		&::-webkit-scrollbar{
			display: none;;
		}
		li{
			width: initial;
			height: initial;
			margin:0;
			@include breakpoint(sm){
				min-width: 90px;
				justify-content: initial;
			}
		}
	}
}