/*
	Theme Name: CanaBlue API
	Theme URI: http://Canablue.com
	Description: CanaBlue Wordpress Theme
	Version: 1.0
	Author: Jean Fondeur
	Author URI: https://jeanfondeur.com
	Tags: Blank, HTML5, CSS3, SCSS, BOOTSTRAP

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import url("bootstrap/bootstrap.css");

// ===========
// //variables
// ===========

// font
$bodyText: 'Open Sans', sans-serif;
$headingText: 'Montserrat', sans-serif;

//color
$blue: #1B4073;

// ===========
// General
// ===========

//Responsive
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else if $class == m {
    @media (max-width: 768px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.propertyFilters{
	//display:none;
}

html,body{
	font-family:$bodyText;
}

img{
	max-width:100%;
}

a:hover{
	text-decoration:none;
}

.blue{
	color: $blue !important;
}

//buton
.btn{
	border-radius:0;
}

.btn-primary{
	background:darken($blue, 5%);
	border-color: darken($blue, 5%);
	color:white!important;
}

//badge
.badge-primary{
	background:$blue;
	font-weight:normal;
}

.optin{
	padding:50px 0;
	background:$blue;
	h5{color:white;}
	p{color:white;}
	form{
		padding-top:20px;
		input.form-control{
			border-radius:0!important;
			margin-right: 0!important;
		}
	}
}

.grid{
	div[class^="col"]{
		position:relative;
		a{
			> div{
				background:$blue;
				background-size:cover !important;
				padding:90px 0;
				color:white;
				hr{
					border-color:white;
					width: 70%;
				}
			}
		}
	}
}

.grid{
	.buy{
		background:url('img/buy.jpg') !important;
	}
	.sell{
		background:url('img/sell.jpg') !important;
	}
	.rentals{
		background:url('img/rentals.jpg') !important;
	}
	.legal{
		background:url('img/legal.jpg') !important;
	}
	.renovations{
		background:url('img/renovations.jpg') !important;
	}
}

.aboutPamela{
	padding:150px 0;
	background:url('img/whirlpool.png');
	color:$blue;
	h4{
		padding-top:45px;
	}
}

//cards container
.property-cards-container{
	display:flex;
	flex-direction: column;
	@include breakpoint(md){
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

//card
.card{
	margin-bottom:30px;
	position:relative;
	h5{
		position:absolute;
		top: 10px;
		left:10px;
	}
	a{
		color:$blue;
	}
}

.cardP{
	margin-bottom:30px;
	position:relative;
	h5{
		position:absolute;
		top: 10px;
		left:10px;
	}
	a{
		color:$blue;
	}
}

/* fluid 4 columns */
.grid-item { width: 22%; }
/* fluid 4% gutter */
.gutter-sizer { width: 4%; }

.grid-item--width2 { 
	width: 100%;
	@include breakpoint(sm){
		width:48%;
	}
	@include breakpoint(md){
		width:24%;
	}
}
// ===========
// Header
// ===========

@import "header";

// ===========
// footer
// ===========

@import "footer";

// ===========
// Home
// ===========

.heroHome{
	background:url('img/heroHome.jpg');
	background-size:cover;
	position:relative;
	padding:250px 0;
	img{
		position: absolute;
		bottom: 30px;
		margin: auto;
		top: initial;
		left: 0;
		right: 0;
		width:20px;

	}
	h1{
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 60px;
		text-shadow: -1px 0px 2px rgba(150, 150, 150, 1);
	}
}

.homeSection{
	padding:100px 0;
	color:$blue;
}

//carousel
#carouselExampleControls{
	.carousel-item{
		.carousel-caption{
			text-align:left;
			h2{
				font-weight: bold;
				text-shadow: -1px 0px 2px black;
				@include breakpoint(md){
					font-size:45px;
				}
			}
		}
	}
}


// ===========
// buy
// ===========

.buySection{
	@extend .homeSection;
	padding-bottom:50px;
}

.buyListing{
	padding-top:0;
}


// =========== 
// unit
// ===========

@import 'unit';

// ======
	//Location search
// ======

body.tax-location{
	.locationHeading{
		text-transform: capitalize;
		color: $blue;
		padding:50px 0;
	}
}


// =======
// Sell
// =======

.heroSell{
	padding:0;
	height: 550px;
	display:flex;
	align-items: center;
	overflow: hidden;
	h1{
		text-align:center;
		line-height: 1;
		text-shadow: -1px 0px 2px black;
		span{
			font-size: 40px;
		}
		
	}
	p{
		color:white;
		text-align: center;
		text-shadow: -1px 0px 2px black;
	}

	video {
		position: absolute;
		width: 100%;
		height: auto;
		top: 0;
		@include breakpoint(m){
			display: none;;
		}
	}
}

.localExpert{
	padding-top:100px;
	padding-bottom:100px;
	h2,p{text-align:center;}
	.ownersForm{
		text-align: center;
		#gform_wrapper_3{
			#gform_submit_button_3{
				width: 50%;
				margin:auto;
				display: block;
			}
			label{
				display: none;
			}

			.gfield{
				display: inline-block;
				width: 50%;
				div.ginput_container{
					width: 100%;
					input, select{
						width: 100%;
					}
				}
			}
		}
	}
}


// ======
// Contact modal
// ======

#contactModal{
	.modal-title{
		color: $blue;
	}
	.contactForm{
		position:initial;
		box-shadow:none;
		display: block;
		padding-bottom:0;

	}
	.model-body{
		padding-bottom:0;
	}
	.mfooter{
		padding:0 20px 20px 20px;
		display: block;
		h5,p,a{
			color: $blue !important;
			display: block;
			width: 100%;
			font-size: 14px;
			margin-bottom: 0;
			i{
				color:$blue;
			}
		}
	}
}

/*Custom include to sass*/

@media(min-width: 922px) and (max-width: 1200px){
	.navbar .navbar-brand{
	  width: 130px; 
	}
  }
  
  .aboutPamela img {
	  width: 80%;
	  margin: auto;
	  display: block;
  }



/*======================
	2020
=======================*/

.wh-free a.wh-widget-send-button-get-button{
	display: none !important;
}

@import "community";
@import "newhome";
@import "contact";

body.single{
	.property-cards-container{
		@include breakpoint(md){
			justify-content: start;
		}
		.grid-item--width2{
			&:not(:last-child){
				@include breakpoint(md){
					margin-right: 1%;
				}
			}
		}
	}
}